body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 2vw;
    text-align: center;
}

h1, nav a {
    font-weight: 400;
    font-size: 1.5vw;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 2vw;
}

nav i {
    margin-right: 1vw;
}

nav a {
    text-decoration: none;
    color: #000000;
}

.homelink a {
    color: #be5f1f;
}

.hidden {
    padding-top: 2vw;
    padding-left: 4vw;
    font-size: 1.2vw;
    display: none;
}

.welcome {
    padding-top: 4vw;
    padding-left: 4vw;
    color: #00a1d7;
}

.developer {
    color: #be5f1f;
}

.hi {
    font-size: 3vw;
    padding-top: 3vw;
    padding-left: 4vw;
    color: #0c7ca4;
}

.p1 {
    padding-top: 2vw;
    padding-left: 4vw;
    font-size: 1.4vw;
}

.seemore {
    color: #00a1d7;
}



.hire {
    font-size: 2vw;
    margin-top: 1.5vw; 
    margin-left: 5vw;
  background-color: #00a1d7;
  color: #fff;
  border-radius: 1vw;
  border-style: hidden;
  box-shadow: 0vw 0.5vw 1vw rgba(11, 100, 173, 0.7); 
  align-content: center;
}

.see {
    background-color: #fff;
    border-color: #0c7ca4;
    color: #0c7ca4;
    font-size: 2vw;
    background-color: #fff;
   border-radius: 1vw;
 
}



@media (max-width: 800px) {
    header {
        padding-right: 1vw;
    }

    .hidden {
        padding-left: 4vw;
    }

    .welcome, .hi, .p1 {
        padding-left: 4vw;
    }

    .content-container {
        position: fixed;
        padding: 1.5vw;
        margin-left: 8vw;
        align-content: center;
      }
    
      .text-content {
      align-items: center;
      align-content: center;
        margin-right: 5vw;
        padding-right: 5vw;
      }
    
    .imageshadow{
      background-color: #00a1d7;
     
      max-width: 50vw;
      margin-left: 7vw;
      margin-top: 8vw;
      margin-right: 8vw;
      
      border-bottom-left-radius: 40%;
      height:45.7vw;
    
    }
      .image-container img {
    padding-bottom: 0;
    padding-left: 3vw;
    padding-top: 0vw;
    margin-top: -3vw;
     max-width: 50vw;
     position:relative;
    align-self: right;
     border-bottom-left-radius: 40%;
     
        height:auto;
      }
}

@media (min-width: 800px) {
    header {
        padding-right: 9vw;
    }

    .hidden {
        padding-left: 7vw;
    }

    .welcome, .hi, .p1 {
        padding-left: 7vw;
    }

    .content-container {
        display: flex;
  
        padding: 1.5vw;
      }
  
      .text-content {
      
        margin-right: 5vw;
        padding-right: 5vw;
      }
  
  .imageshadow{
      background-color: #00a1d7;
     
      max-width: 35vw;
      
      margin-top: 5vw;
      margin-right: 8vw;
      
      border-bottom-left-radius: 40%;
  height:32vw;
  
  }
      .image-container img {
  padding-bottom: 0;
  padding-left: 2.5vw;
  padding-top: 0vw;
  margin-top: -2vw;
     max-width: 35vw;
     position:relative;
  align-self: right;
     border-bottom-left-radius: 40%;
     
        height:auto;
      }
}